---
import { Language, PathID } from '@catechism/source/types/types';

import ContentBase from '@components/catechism-content/content-base.astro';
import NavigationButton from '@components/navigation-button.astro';

import { getRenderableNodeMapSync } from '@logic/artifacts';
import { loadContent } from '@logic/rendering';

interface Props {
    pathID: PathID;
    language: Language;
}

const { pathID, language } = Astro.props;

const content = loadContent(language, pathID);

const renderableNodes = getRenderableNodeMapSync(language)[pathID] ?? null;
const nextUrl = renderableNodes?.next?.url;
const previousUrl = renderableNodes?.previous?.url;
---

{
    /* TODO:
        - Remove `break-all` when finalizing the appearance
        - Finalize the bottom padding when the position and height of the navigation buttons container is finalized
    */
}
<!-- Finalize the height when the UI is finalized (ensure it handles the case of the screen being taller than the content) -->
<div class="min-h-[calc(100vh_-_4rem)] grid grid-rows-[1fr_auto] border border-white/20 relative">
    <div class="max-w-prose mx-auto pt-8 pb-32 break-all">
        {content && <ContentBase content={content} language={language} />}
    </div>
</div>

<!-- TODO: Finalize the `bottom` positioning when the height of the action bar is finalized (the construction paradigm may need to be improved) -->
<div class="sticky bottom-[7.5rem] inset-x-0 grid grid-cols-2 gap-4 p-4 mt-4 bg-slate-600 border-t border-slate-900">
    {previousUrl ? <NavigationButton url={previousUrl} direction="previous" language={language} /> : <div />}
    {nextUrl ? <NavigationButton url={nextUrl} direction="next" language={language} /> : <div />}
</div>
