---
import { DEFAULT_LANGUAGE, Language } from '@catechism/source/types/types';
import { getLanguages } from '@catechism/source/utils/language';

import { getPathIdLanguageUrlMapSync, getSemanticPathPathIdMapSync } from '@logic/artifacts';
import { path as joinPaths } from '@logic/navigation-utils';
import { getParagraphNumber, removeLanguageTag } from '@logic/routing';
import { BasicPath, basicPaths } from '@pages/_routes';

interface Props {
    currentLanguage: Language;
}

const { currentLanguage } = Astro.props;

const semanticPathPathIdMap = getSemanticPathPathIdMapSync(currentLanguage);
const pathIdLanguageUrlMap = getPathIdLanguageUrlMapSync();

const path = removeLanguageTag(Astro.params.path, currentLanguage);
const pathID = semanticPathPathIdMap[path] ?? null;

const isBasicPath = basicPaths.includes(path as BasicPath);

const paragraphNumber = getParagraphNumber(path);
const languageUrlMap = pathID ? pathIdLanguageUrlMap[pathID] : [];

const languagesAndUrls = getLanguages().map(([languageKey, language]) => {
    let segment = '';

    if (!path) {
        segment = '';
    } else if (isBasicPath) {
        segment = path;
    } else if (paragraphNumber) {
        segment = paragraphNumber + '';
    } else {
        segment = languageUrlMap[language];
        if (!segment) {
            throw new Error(`A language-switching URL could not be determined (pathID: ${pathID}, language: ${language})`);
        }
    }

    const languagePrefix = DEFAULT_LANGUAGE === language ? '' : language;
    const url = joinPaths('/', languagePrefix, segment);

    return { languageKey, language, url };
});
---

<ol class="flex gap-4 p-4 border rounded-sm">
    {
        languagesAndUrls.map(({ languageKey, language, url }) => {
            return (
                <li>
                    {language === currentLanguage && <div class="opacity-50">{languageKey}</div>}
                    {language !== currentLanguage && <a href={url}>{languageKey}</a>}
                </li>
            );
        })
    }
</ol>
