---
import BaseLayout from '@layouts/base.astro';
import { DEFAULT_LANGUAGE } from '../../../config';

export const prerender = false;

// prettier-ignore
const redirectUrl = `/${DEFAULT_LANGUAGE}` === Astro.url.pathname
    ? Astro.url.href.replace(`/${DEFAULT_LANGUAGE}`, '/')
    : Astro.url.href.replace(`/${DEFAULT_LANGUAGE}/`, '/');

// Redirect all routes that include the default language in their path to the same subpath without the preceding language (e.g. `/en/something` => `/something`)
return Astro.redirect(redirectUrl, 308);
---

<BaseLayout language={DEFAULT_LANGUAGE}>
    <div class="flex flex-col justify-center items-center gap-6 mt-[20vh]">
        <div>In a moment, you should be automatically redirected.</div>
        <div>If not, please click the link below:</div>
        <a href={redirectUrl} class="bg-white/30 dark:bg-white/10 text-sm font-mono p-4 rounded">{redirectUrl}</a>
    </div>
</BaseLayout>
