---
import { Language, PathID } from '@catechism/source/types/types';

import NavigationButton from './navigation-button.astro';

import { getRenderableNodeMap } from '../logic/artifacts';
import { ElementID } from '../logic/element-id';
import { loadContent } from '../logic/rendering';

interface Props {
    language: Language;
    pathID: PathID;
}

const { language, pathID } = Astro.props;
const content = loadContent(language, pathID);

const renderableNodes = getRenderableNodeMap(language)[pathID] ?? null;
const nextUrl = renderableNodes?.next?.url;
const previousUrl = renderableNodes?.previous?.url;
---

<div id={ElementID.CONTENT}>
    <div class="max-h-48 overflow-y-scroll border border-white rounded p-4">
        {JSON.stringify(content)}
    </div>

    <div class="grid grid-cols-2 gap-4 mt-4">
        {previousUrl ? <NavigationButton url={previousUrl} direction="previous" language={language} /> : <div />}
        {nextUrl ? <NavigationButton url={nextUrl} direction="next" language={language} /> : <div />}
    </div>
</div>
